.clearfix::after{
    display: block;
    float: none;
    content: "";
    clear: both;
    overflow: auto;
}


.col-1{
    width: 8.333;
}

.col-2{
    width: 16.666;
}


/*              base

.esquerda{
    float: left;
}

.direita{
    float: left;
    text-align: right;
}

.centro{
    text-align: center;
}

.metade{
    width: 50%;
} 

*/
